@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(26, 225, 92, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section{
  font-weight: 500;
  background-color: #7b9811;
  color: #96e419;
  text-decoration: inherit;
}
section:hover {
  color: #7b9811;
}

form {
  color: #24723e;
  background-color: #9cf212;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

form > input{
  color: rgb(72, 86, 44);
  background-color: rgb(110, 110, 50);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: rgb(23, 207, 38);
  background-color: #b3e628;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #18bf4f;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #28e23a;
    background-color: #ffffff;
  }
  section:hover {
    color: #74ffb0;
  }
  button {
    background-color: #f9f9f9;
  }
}
